[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

numpy = "*"
opencv-python = "*"
pyserial = "*"
keras = "*"
tensorflow = "*"


[dev-packages]

"flake8" = "*"


[requires]

python_version = "3.6"
